data/EMISSIONSBYCOUNTRY.csv filter=lfs diff=lfs merge=lfs -text
data/TEMPERATURESBYCOUNTRY_SAMPLE.csv filter=lfs diff=lfs merge=lfs -text
data/GLOBALTEMPERATURES_SAMPLE.csv filter=lfs diff=lfs merge=lfs -text
